.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
  border-bottom: 1px solid var(--gray-light);
  position: sticky;
  top: 0;
  background-color: var(--white);
}

.navbar__title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

app-button {
  margin-left: auto;
}
