<mat-sidenav-container>
  @if(sidenavService.addEmployee() || sidenavService.editEmployee()) {
  <mat-sidenav
    mode="over"
    position="end"
    [opened]="sidenavService.addEmployee() || sidenavService.editEmployee()"
    [disableClose]="true"
  >
    <div class="close">
      <app-icon tooltip="Close" (click)="close()">close</app-icon>
      <app-add-edit-employee></app-add-edit-employee>
    </div>
  </mat-sidenav>
  } @if(sidenavService.addTask() || sidenavService.editTask()) {
  <mat-sidenav
    mode="over"
    position="end"
    [opened]="sidenavService.addTask() || sidenavService.editTask()"
    [disableClose]="true"
  >
    <div class="close">
      <app-icon tooltip="Close" (click)="close()">close</app-icon>
      <app-add-edit-task></app-add-edit-task>
    </div>
  </mat-sidenav>
  }
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
